# Copyright (c) The Regents of the University of California, Davis campus. All rights reserved.
# 
Fabric
bandit
flake8
grip
jedi
pycodestyle
pycrypto
pydocstyle
pylint
pyyaml==5.4            # via MacPorts
restview
virtualenv
wsgiref
